.container{
    background-image: url(../imagens/bg-repeat.jpg);
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .informacoes{
    margin: 0 73px 0 50px;
    color: #FFFFFF;
}

.container .informacoes .titulo{
    margin-bottom: 11px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

.container .informacoes .paragrafo{
    margin-right: 60px;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    max-width: 300px;
}

.container .card{
    width: 340px;
    height: 378px;
    background-color: #FFFFFF;
    margin-right: 50px;
}

.container .card .form{
    padding: 20px;
    font-weight: 700;
    font-size: 15px;
}

.container .card .opcoes{
    position: relative;
    margin-bottom: 15px;
}

.container .card .inputs{
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.container .card .opcoes .mensagem{
    height: 100px;
    resize: none;
    margin-bottom: -3px;
}

.container .card .form p{
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    margin-bottom: 11px;
}


.container .card .form .botao-enviar{
    padding: 12px 127px;
    color: #FFFFFF;
    background: #3CCC87;
    border-radius: 5px;
}

.container .card .form .botao-enviar:hover{
    cursor: pointer;
    transition: 0.3s ease-out;
    transform: scale(1.05);
}

.alerta{
    visibility: hidden;
    position: absolute;
    bottom: -9px;
    left: 0;
    font-weight: 400;
    font-size: 8px;
    color: #F52E2E;
}

