@media(max-width: 425px){
    .container{
        flex-direction: column;
        gap: 30px ;
    }

    .container .card{
        margin: 0 auto 0;
    }

    .container .informacoes{
        text-align: center;
        margin: 0 auto 0;
    }

    .container .informacoes .paragrafo{
        margin: 0 auto 0;
    }
}
